{
  "dashboard": {
    "id": null,
    "title": "Azure POC monitoring",
    "tags": [ "templated" ],
    "timezone": "browser",
  "rows": [
    {
      "collapse": false,
      "height": -40,
      "panels": [
        {
          "content": "<div class=\"text-center dashboard-header\">\n  <span>Azure Prometheus project home page</span>\n</div>",
          "editable": true,
          "id": 1,
          "links": [],
          "mode": "html",
          "span": 12,
          "style": {},
          "title": "",
          "transparent": true,
          "type": "text"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": true,
      "title": "Azure POC prometheus project",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": 179,
      "panels": [
        {
          "headings": true,
          "id": 5,
          "limit": 10,
          "links": [],
          "query": "prometeus-test",
          "recent": false,
          "search": true,
          "span": 12,
          "starred": false,
          "tags": [],
          "title": "test stack",
          "type": "dashlist"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": 178,
      "panels": [
        {
          "headings": true,
          "id": 6,
          "limit": 10,
          "links": [],
          "query": "stage",
          "recent": false,
          "search": true,
          "span": 12,
          "starred": false,
          "tags": [],
          "title": "stage stack",
          "type": "dashlist"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    }
  ], 
    "schemaVersion": 6,
    "version": 0
  },
  "overwrite": false
}
